body{
  background: lightgray;
}

/* loading */
#loading {
  text-align: center;
  background-color: lightblue;
  width: 100vw; 
  height: 100vh;
  margin:0;
}
#loading-text{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -.5em;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #007caa;
  font-size: 0.8em;

}
#loading-text > p {
  top: 48%;
  color: #F06666;
  font-size: 1.0em;
}

.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
}
.boxLoading:before {
  content: "";
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.8s linear infinite;
}
.boxLoading:after {
  content: "";
  width: 50px;
  height: 50px;
  background: #F06666;
  animation: animate 0.8s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

#closebutton {
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  top: 6vh;
  left: 6vw;
  margin: 0 auto;
  background-color: #A37CED;
  border: 0.3em solid white;
  text-align: center;
  color: #FFF;
  border-radius: 100px;
}
#closebutton:active {
  background-color: white;
  color: #AD50FF;
}
#closebutton > h2 {
  font-size: 1.3em;
  text-align: center;
  font-family: monospace;
}
.close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.close:hover::before,
.close:hover::after {
  background: #F06666;
}
.close::before,
.close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #FFF;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.black::before,
.close.black::after {
  height: 8px;
  margin-top: -4px;
}
.close.rounded::before,
.close.rounded::after {
  border-radius: 5px;
}
.collapsed {
  display: none;
  opacity: 0;
  pointer-events: none;
}
#guide {
  position: absolute;
  height: 80%;
  left: 10%;
  right: 10%;
  top: 10%;
  border-radius: 2vh;
  padding: 5vh 4vh 3vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: white;
  transition: 0.35s;
}
#guide-contents {
  color: black;
  height: 100%;
  overflow-y: scroll;
  text-align: justify;
  font-size: 0.8rem;
  flex-grow: 1;
}
#guide-button{
  margin: auto; 
  width: 90%; 
  color:gray; 
  background: lightgray; 
  text-align: center; 
  padding-top: 5%; 
  padding-bottom: 5%; 
  border-radius: 8px;
}

#container {
  position: absolute;
  max-height: 50vh;
  left: 10%;
  right: 10%;
  bottom: -2vh;
  border-radius: 2vh;
  padding: 1vh 2vh 3vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: white;
  transition: 0.35s; }

#container.collapsed {
  transform: translateY(10%);
  opacity: 0;
  pointer-events: none; }
#contents {
  height: 100%;
  overflow-y: scroll;
  text-align: justify;
  font-size: 0.8rem;
  flex-grow: 1; }
#contents h1 {
  text-align: left; }
.outer {
  flex: 0 0 auto; }
#closeButton {
  float: right;
  padding: 0.25em;
}