 body{
  background: lightgray; 
   /* font-family: "M PLUS Rounded 1c"; */
} 
#loading {
  text-align: center;
  background-color: lightblue;
  width: 100vw; 
  height: 100vh;
  margin:0;
}
#loading-text{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -.5em;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #007caa;
  font-size: 0.8em;
}
#loading-text > p {
  top: 48%;
  color: #F06666;
  font-size: 1.0em;
}

.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
}
.boxLoading:before {
  content: "";
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.8s linear infinite;
}
.boxLoading:after {
  content: "";
  width: 50px;
  height: 50px;
  background: #F06666;
  animation: animate 0.8s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

#closebutton {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  top: 24vmin;
  right: 4vmin;
  border-radius: 8.0vmin;
  border: solid 0.5vmin white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: auto;
  background-image: url('../assets/images/gui/close_wh.png');
}
.collapsed {
  display: none;
  opacity: 0;
  pointer-events: none;
}
#guide {
  position: absolute;
  width:70%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 2vmin;
  padding: 5vmax 4vmax 5vmax;
  z-index: 10;
  background-color: white;
  transition: 0.35s;
}
#guide-contents {
  color: black;
  height: 100%;
  overflow-y: scroll;
  text-align: justify;
  font-size: 0.8rem;
  flex-grow: 1;
}
#guide-button{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  bottom: 14vmin;
  border-radius: 2vmin;
  padding: 5vmin;
  color:gray; 
  background: lightgray; 
  text-align: center; 
}

#container {
  position: absolute;
  max-height: 50vh;
  left: 10%;
  right: 10%;
  bottom: -2vh;
  border-radius: 2vh;
  padding: 1vh 2vh 3vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: white;
  transition: 0.35s; }

#container.collapsed {
  transform: translateY(10%);
  opacity: 0;
  pointer-events: none; }
#contents {
  height: 100%;
  overflow-y: scroll;
  text-align: justify;
  font-size: 0.8rem;
  flex-grow: 1; }
#contents h1 {
  text-align: left; }
.outer {
  flex: 0 0 auto; }
#closeButton {
  float: right;
  padding: 0.25em;
}


#photoModeContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}
#flash {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 10;
  opacity: 0;
  transition: 0.5s;
}
.flash #flash {
  opacity: 1;
  transition: 0s;
  pointer-events: auto;
}
#photoModeImage {
  position: absolute;
  max-width: 65%;
  max-height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 5px white;
  border-radius: 2vmax;
  opacity: 0;
  transition: 0.5s;
}
.photo #photoModeImage {
  opacity: 1;
  transition: 0s;
  pointer-events: auto;
}
#shutterButton,
#returnButton {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  top: 4vmin;
  right: 4vmin;
  border-radius: 8.0vmin;
  border: solid 0.5vmin white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: auto;
}
#shutterButton {
  background-image: url('../assets/images/gui/camera.png');
}
.photo #shutterButton {
  display: none;
}
#returnButton {
  background-image: url('../assets/images/gui/arrow.png');
  display: none;
}
.photo #returnButton {
  display: block;
}