#container.collapsed,
.collapsed {
  opacity: 0;
  pointer-events: none
}

#loading {
  background-color: #add8e6;
  width: 100vw;
  height: 100vh
}

#loading.hidden {
  display: none
}

#loading-text>h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #007caa;
  font-size: 22px
}

#loading-text>p {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #F06666;
  font-size: 18px
}

#closebutton {
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  top: 6vh;
  left: 6vw;
  margin: 0 auto;
  background-color: #A37CED;
  border: .3em solid #fff;
  text-align: center;
  color: #FFF;
  border-radius: 100px
}

#closebutton:active {
  background-color: #fff;
  color: #AD50FF
}

#closebutton>h2 {
  font-size: 1.3em;
  text-align: center;
  font-family: monospace
}

.close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden
}

#logo-set,
.collapsed,
.hidden {
  display: none
}

#contents,
#guide-contents {
  overflow-y: scroll;
  text-align: justify;
  font-size: .8rem
}

.close:hover::after,
.close:hover::before {
  background: #F06666
}

.close::after,
.close::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #FFF
}

.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.close.black::after,
.close.black::before {
  height: 8px;
  margin-top: -4px
}

.close.rounded::after,
.close.rounded::before {
  border-radius: 5px
}

#container,
#guide {
  position: absolute;
  left: 10%;
  right: 10%;
  border-radius: 2vh;
  display: flex;
  z-index: 10;
  transition: .35s;
  background-color: #fff
}

#guide {
  height: 80%;
  top: 10%;
  padding: vh 4vh 3vh;
  flex-direction: column
}

#guide-contents {
  height: 100%;
  flex-grow: 1
}

#container {
  max-height: 50vh;
  bottom: -2vh;
  padding: 1vh 2vh 3vh;
  flex-direction: column
}

#container.collapsed {
  transform: translateY(10%)
}

#contents {
  height: 100%;
  flex-grow: 1
}

#contents h1 {
  text-align: left
}

.outer {
  flex: 0 0 auto
}

#closeButton {
  float: right;
  padding: .25em
}

#whitebox {
  width: 100%;
  height: 100%;
  background-color: #fff
}

* {
  padding: 0;
  margin: 0
}

.target {
  width: 1200px;
  height: 1200px;
  font-size: 2.4em;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0);
  display: hidden;
  border: 2% solid #000;
  border-radius: 6%
}

.target>.work_img {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border: 1px solid #FFF
}

.target h3 {
  font-size: 300%;
  margin: 0;
  text-align: center
}